# Carpeta del entorno virtual
.venv/
# Archivos generados
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Archivos de configuración local
*.sqlite3
*.env

# Archivos de registros
*.log

# Archivos de medios cargados
media/

# Directorio de configuración de la IDE
.vscode/
.idea/

# Carpeta de configuración del sistema
__pycache__/
__pycache__/

# Archivos de configuración de servidor
*.conf

# Archivos de migraciones
**/migrations/

# Archivos de caché
__pycache__/
